#header {
  width: 100px;
  height: 100px;
  background: #ffff00;
  border-radius: 50px;
}
#header1 {
  width: 100px;
  height: 100px;
  border: 1px solid #00f;
}
#header2 {
  width: 100px;
  height: 100px;
  border: 1px solid #ff0000;
}
#header3 {
  width: 100px;
  height: 100px;
  border: 1px solid #ff00ff;
}
